:root.theme-dark {
    --logo-color: #db00ff;
    --logo-shadow: #FF0070;
    --main-text-color: #f1b2ce;
    --focus-text-color: #ff0070;
    --main-subtitle-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --main-bg-color: #000028;
    --main-font-family: IBM Plex mono;
}

.theme-dark .decorated-zone::before {
  border-color: #FF0070;
}

.theme-dark .decorated-zone::after {
  border-color: #FF0070;
}

.theme-dark .header__rec {
  color: var(--focus-text-color);
}

.theme-dark .header__rec::after {
  background: var(--focus-text-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.theme-dark .header__theme-menu-item {
  color: var(--focus-text-color);
}

.theme-dark .header__container-title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow);
}