:root.theme-light {
  --logo-color--light: #FFC2E6;
  --logo-shadow--light: #FF8DCB;
  --main-text-color--light: #f1b2ce;
  --focus-text-color--light: #ff0070;
  --main-subtitle-color--light: #353430;
  --bg-image--light: url(../images/cover-image-light.png);
  --main-bg-color--light: #FFEEF6;
}


.theme-light .page {
  background-color: var(--main-bg-color--light);
}

.theme-light .header {
  background-image: var(--bg-image--light);
}

.header__theme-menu-button_active {
  border-color: var(--main-subtitle-color--light);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .decorated-zone::before {
  border-color: var(--main-subtitle-color--light);
}

.theme-light .decorated-zone::after {
  border-color: var(--main-subtitle-color--light);
}

.theme-light .header__theme-menu-item {
  color: var(--main-subtitle-color--light);
}

.theme-light .header__theme-menu-item:hover {
  border: 1px solid var(--main-subtitle-color--light);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--main-subtitle-color--light);
  outline: none;
}

.theme-light .header__container-title {
  color: var(--logo-color--light);
  text-shadow: 4px 4px 0 var(--logo-shadow--light);
}

.theme-light .header__container-subtitle {
  color: var(--main-subtitle-color--light);
  background-color: var(--logo-shadow--light);
}

.theme-light .content-section__title {
  color: var(--main-subtitle-color--light);
}

.theme-light .text-block__title,
.theme-light .text-block__subtitle {
  background-color: var(--logo-shadow--light);
  color: var(--main-subtitle-color--light);
}

.theme-light .text-block__content {
  color: var(--main-subtitle-color--light);
}

.theme-light .footer__title {
  color: var(--logo-color--light);
  text-shadow: 4px 4px 0 var(--logo-shadow--light);
}