:root.theme-light {
  --header-color: #353430;
  --header-color-item: rgba(50, 49, 45, 0.4);
  --logo-color: #FFC2E6;
  --logo-shadow: #FF8DCB;
  --focus-bg-text-color: #FF8DCB;
  --main-text-color: #353430;
  --main-link-color: #353430;
  --main-title-color: #353430;
  --main-subtitle-color: #353430;
  --main-bg-color: #FFF1F7;
  --main-font-family: IBM Plex mono;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}