.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  padding: 0px 10px;
  min-height: 668px;
}

.page {
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-top: 1px solid var(--header-color);
  border-right: 1px solid var(--header-color);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}


.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--header-color);
  border-left: 1px solid var(--header-color);
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__rec {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--header-color);
  position: absolute;
  right: 40px;
  top: 13px;
}

.header__rec::after {
  content: '';
  background: var(--header-color);
  position: absolute;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-top: 8px;
  box-shadow: 0px 0px 4px 2px var(--logo-shadow);
}

.header__theme-menu-list {
  text-align: end;
  margin-top: 75px;
  display: grid;
  pointer-events: auto;
}

.header__theme-menu-button {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  min-width: 70px;
  color: var(--header-color);
  border: transparent solid 1px;
  text-transform: lowercase;
  background-color: transparent;
  border-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-color-item);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-color);
  pointer-events: none;
}

.header__container {
  margin-top: 69px;
}

.header__container-title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--logo-color);
  text-shadow: 4px 4px 0 var(--logo-shadow);
}

.header__container-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  height: fit-content;
  color: var(--main-subtitle-color);
  background-color: var(--focus-bg-text-color);
  margin-top: 57px;
}

.content {
  display: grid;
  gap: 50px;
  padding: 42px 10px 40px 10px;
}

.causes .content-section__title {
    grid-column: 1 / -1;
    min-width: 236px;
}

.causes .text-blocks {
  grid-column: 1 / -1;

  @media (width >= 1024px) {
  grid-template-columns: repeat(3, 1fr);
  }
}

.content-section {
  font-style: normal;
  line-height: 23.4px;
  }

.content-section__title {
  color: var(--main-title-color);
  margin-bottom: 19px;
  font-size: 18px;
}

.text-blocks {
  display: grid;
  gap: 20px;
  grid-column: 1 / -1;
}

.text-block {
  display: grid;
}

.text-block__title,
.text-block__subtitle {
  background-color: var(--focus-bg-text-color);
  color: var(--main-subtitle-color);
  margin-bottom: 10px;
  font-size: 18px;
}

.text-block__title {
  font-weight: 700;
}

.text-block__subtitle {
  font-weight: 400;
}

.text-block__title-exception {
  background-color: var(--focus-bg-text-color);
  color: var(--main-subtitle-color);
  font-size: 18px;
}

.text-block__content {
  color: var(--main-text-color);
  font-size: 18px;
}

.text-block__link {
  color: var(--main-link-color);
  text-shadow: 2px 2px 0 var(--logo-shadow);
  border-bottom: 1px solid transparent;
}

.text-block__link:hover {
  border-color: var(--main-text-color);
}

.text-block__link:focus {
  outline: none;
}

.text-block__link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.text-title {
  background-color: var(--focus-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-subtitle-color);
}

.picture {
  display: grid;
  gap: 10px;
}

.image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  display: flex;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--logo-shadow);
  color: var(--logo-color);
  justify-content: center;
  align-items: center;
}

@media (width >= 768px) {

  .header {
    padding: 20px;
  }

  .header__rec {
    right: 47px;
    top: 20px;
}

  .header__theme-menu {
    margin-top: 95px;
  }

  .header__container {
    margin-top: 176px;
    padding-bottom: 85px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__container-title {
    position: relative;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    right: 20px;
  }

  .header__container-subtitle {
    max-width: 364px;
    justify-self: end;
    margin-top: 162px;
    margin-bottom: 65px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content {
    padding: 60px 20px 60px 20px;
    gap: 80px;
    }

  .content-section {
    display: grid;
    grid-template-columns: 215px 1fr;
    column-gap: 20px;
  }

  .content-section advices {
    grid-template-columns: 235px 1fr;
    gap: 10px;
  }
  .causes .content-section__title {
    max-width: 236px;
  }

  .content-section__title {
    min-width: 236px;
  }

  .text-blocks {
    grid-column: -1;
  }

  .picture {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .picture .text-title {
    grid-column: 1 / -1;
    background: var(--focus-bg-text-color);
  }

  .picture .image:nth-child(2) {
    grid-column: span 2;
  }

  .picture .image:nth-child(3) {
    grid-row: span 2;
  }

  .picture .image:nth-child(4) {
    grid-row: 3 / span 2;
  }
  
  .picture .image:nth-child(6) {
    grid-column: 2 / span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header__rec {
    position: absolute;
    right: 48px;
  }
  
  .header__theme-menu {
    margin: 0;
  }
  
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 9px;
  }
  
  .header__theme-menu-item {
    line-height: 20px;
  }
  
  .header__theme-menu-button {
    min-width: 70px;
  }

  .header__container {
    margin-block-start: 261px;
    padding-block-end: 40px;
  }

  .header__container-subtitle {
    max-width: 490px;
    margin-top: 115px;
  }
  
  .content {
    padding: 60px 20px 60px 20px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
  }
  
  .content-section__title {
    min-width: 305px;
  }
  
  .text-block {
    display: block;
  }
  
  .advices .text-block {
    display: grid;
  }

  .text-block__title {
    max-block-size: 24px;
  }
  
  .causes .content-section__title {
    max-width: 260px;
  }

  .text-blocks .causes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .causes {
    display: grid;
    column-gap: 20px;
  }
}