:root {
  --logo-color: #db00ff;
  --logo-shadow: #FF0070;
  --main-text-color: #f1b2ce;
  --focus-text-color: #ff0070;
  --main-subtitle-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --main-font-family: IBM Plex mono;
}